{{> menu admin=admin}}
{{> userdata}}
<div class="col-md-8 mx-auto mt-5">
  <form class="form" action="/productos/uploadfile" enctype="multipart/form-data" method="post" role="form" autocomplete="off">
    <fieldset class="card">
      <div class="card-header bg-info text-light">Sube la imagen del producto</div>
      <div class="card-body">
         <div class="row">
          <div class="col-md-12">
            <label for="foto" class="form-label">Foto</label>
            <input type="file" name="product" id="product" class="form-control" required />
          </div>
        </div>
        <input id="productID" name="productID" type="hidden" value="{{productID}}">
         <div class="row">
          <div class="col-md-12">
            <button class="btn btn-info btn-lg float-right mt-3">Subir imagen</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>