{{> menu admin=admin}}
{{> userdata}}
<h3 class="mb-5">Carrito de Compras</h3>
<p>ID de Carrito: <strong>{{carrito.id}}</strong></p>
<p>Fecha de creación: <strong>{{carrito.timestamp}}</strong></p>
<div id="tabla"></div>