<div class="col-md-8 col-lg-8 mx-auto mt-5">
  <div class="card text-light bg-success" style="display: flex; justify-content: center; align-items: center; padding: 3rem 2rem;">
    <h4 class="mb-4">Gracias por su compra</h4>
    <a href="/productos" style="display: block; padding-left: 1em; padding-right: 1em;" class="btn btn-warning btn-sm pd-2" ><strong>Volver a comprar</strong></a>
  </div>
</div>