<div class="col-md-8 col-lg-8 mx-auto mt-5">
  <div class="card text-light bg-info" style="height: 10em; display: flex; justify-content: center; align-items: center;">
    <h4>Hasta luego <span class="text-uppercase text-warning">{{username}}</span></h4>
  </div>
</div>
<script>
  destroySession();
</script>