<div class="col-md-8 mx-auto mt-5">
  <form class="form" action="/register" method="post" role="form" autocomplete="off">
    <a href="/" class="btn btn-primary btn-sm mb-2">◄ Volver al inicio</a>
    <fieldset class="card">
      <div class="card-header bg-info text-light">Registra tu usuario</div>
      <div class="card-body">
        {{#if message}}
          <div class="alert alert-danger mt-3" role="alert">
            {{message}}
          </div>
        {{/if}}
        <div class="row mb-3">
          <div class="col-md-12">
            <label for="username" class="form-label">Nombre</label>
            <input type="text" name="username" id="username" class="form-control" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" required />
          </div>
          <div class="col-md-6">
            <label for="password2" class="form-label">Verificar password</label>
            <input type="password" name="password2" id="password2" class="form-control" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" required />
          </div>
          <div class="col-md-6">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" name="telefono" id="telefono" class="form-control" required />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" name="direccion" id="direccion" class="form-control" required />
          </div>
          <div class="col-md-6">
            <label for="edad" class="form-label">Edad</label>
            <input type="number" min="1" name="edad" id="edad" class="form-control" required />
          </div>
        </div>
         <div class="row mb-3">
          <div class="col-md-6">
            <div class="form-check" style="">
              <input class="form-check-input" type="checkbox" value="true" name="adminCheck" id="adminCheck" style="cursor:pointer;">
              <label class="form-check-label" for="adminCheck">ADMINISTRADOR</label><br />
              <p style="font-size: 0.8em; line-height: 1.3em; margin: 0; color: #666; margin-top: 0.5em;">
                <strong>El perfil administrador permite:</strong><br />
                • Crear / Borrar / Modificar productos.<br />
                • Contestar mensajes de los usuarios.</p>
            </div>
          </div>
          <div class="col-md-6">
            <button class="btn btn-info btn-lg float-right mt-3">Crear usuario</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="alert alert-success mt-3 text-right" role="alert">
    Si ya tienes una cuenta <a href="/login">Ingresa a la aplicación</a>
  </div>
</div>